src/main/mule/cicd-sample-project.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="831f1c8e-5e86-4ee1-8057-91f4caa492e9" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cicd-sample-projectFlow" doc:id="eee37b2c-ceb0-4f2e-87c1-1e219a1ca53e" >
		<scheduler doc:name="Scheduler" doc:id="cdd9cdc4-5a0f-4f53-872b-33be8db5425d" >
			<scheduling-strategy >
				<fixed-frequency frequency="1" timeUnit="MINUTES"/>
			</scheduling-strategy>
		</scheduler>
		<set-payload value="hello" doc:name="Set Payload" doc:id="2254cbfc-57e5-4502-90d3-6c5a6f7ef2ca" />
		<logger level="INFO" doc:name="Logger" doc:id="04f37da2-babb-4af9-a41a-0a326011ba51" message="#[payload]"/>
	</flow>
</mule>
